@using System.Data
@model System.Data.DataTable

@{
    ViewData["Title"] = "CountryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Rows[0]["Title"] Detayları</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ülke Adı
        </dt>
        <dd class="col-sm-10">
            @Model.Rows[0]["Title"].ToString()
        </dd>
        <dt class = "col-sm-2">
            Toplam Vaka
        </dt>
        <dd class = "col-sm-10">
            @Model.Rows[0]["TotalCases"]
        </dd>
        <dt class = "col-sm-2">
            Toplam Ölüm
        </dt>
        <dd class = "col-sm-10">
            @Model.Rows[0]["TotalDeaths"]
        </dd>
        <dt class = "col-sm-2">
            Kurtarılan Vaka
        </dt>
        <dd class = "col-sm-10 alert alert-success">
            @Model.Rows[0]["TotalRecovered"]
        </dd>
        <dt class = "col-sm-2">
            Günlük Yeni Vaka
        </dt>
        <dd class = "col-sm-10 alert alert-warning">
           + @Model.Rows[0]["TotalNewCasesToday"]
        </dd>
        <dt class = "col-sm-2">
            Günlük Yeni Ölüm
        </dt>
        <dd class = "col-sm-10 alert alert-danger">
           + @Model.Rows[0]["TotalNewDeathsToday"]
        </dd>
        <dt class = "col-sm-2">
            Toplam Aktif Vaka
        </dt>
        <dd class = "col-sm-10">
            @Model.Rows[0]["TotalActiveCases"]
        </dd>
        <dt class = "col-sm-2">
            Durumu Ciddi Olanlar
        </dt>
        <dd class = "col-sm-10 alert alert-secondary">
            @Model.Rows[0]["TotalSeriousCases"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ShowAll">Tüm Ülkeler</a>
</div>
